<div class="nav">
    <a href="https://www.kenet.or.ke/node/65" target="_blank"><img src="image/uni.png" alt="" /></a>
    <div class="nav-links" id="navLinks">
      <i class="fa fa-times" aria-hidden="true" onclick="hideMenu()"></i>
      <ul>
        <li>
          <a href="https://www.kenet.or.ke/">HOME</a>
        </li>
        <li>
          <a href="https://www.kenet.or.ke/content/kenya-education-network-0">ABOUT</a>
        </li>
        <li>
          <a href="http://www.uonbi.ac.ke/search-programme">COURSE</a>
        </li>
        <li>
          <a href="https://www.kenet.or.ke/blog">BLOG</a>
        </li>
        <li>
          <a href="https://www.addtoany.com/add_to/twitter?linkurl=https%3A%2F%2Fwww.kenet.or.ke%2Fnode%2F65&linkname=Public%20Universities&linknote=">CONTACT</a>
        </li>
      </ul>
    </div>
    <i class="fa fa-bars" aria-hidden="true" onclick="showMenu()"></i>
  </div>
<!-- <nav>
    </nav> -->
