 <!------course------->
  <section class="course">
    <h1>Courses We Offer</h1>
    <p style="color:blue;">Here are some of the courses that will help you archive your goals.</p>
    <div class="row">
      <div class="course-col">
        <h3>Intermediate</h3>
        <p>
          We are thrilled to announce the launch of our new intermediate
          programs across all our campuses! These programs are designed to
          bridge the gap between beginner and advanced levels, providing a
          robust and comprehensive learning experience tailored to your needs.
        </p>
      </div>
      <div class="course-col">
        <h3>Degree</h3>
        <p>
          We are excited to announce that our campuses now offer a variety of
          degree programs designed to help you achieve your educational and
          career goals. Whether you are looking to advance in your current field
          or explore new opportunities, we have programs that cater to a wide
          range of interests and industries.
        </p>
      </div>
      <div class="course-col">
        <h3>Post Graduation</h3>
        <p>
          We are excited to announce that our campuses now offer a diverse range
          of post-graduate programs designed to help you achieve your academic
          and professional goals. <br />
          Whether you are looking to deepen your expertise, advance in your
          career, or pursue cutting-edge research, our post-graduate programs
          provide the perfect opportunity. With a robust curriculum, experienced
          faculty, and state-of-the-art facilities, our programs are tailored to
          meet the demands of today’s competitive job market.
        </p>
      </div>
    </div>
  </section>

