 <!------facilities------>
 <section class="facilities">
    <h1>Our facilities</h1>
    <p>Discover Our State-of-the-Art Facilities.</p>
    <div class="row">
      <div class="facilities-col">
        <img src="image/library2.png" alt="library2" />
        <h3>World Class Library</h3>
        <p>Discover the Excellence of our services through our libraries.</p>
      </div>
      <div class="facilities-col">
        <img src="image/sports.png" alt="sports" />
        <h3>Largest Play Ground</h3>
        <p>Discover the Exciting World of School Sports!</p>
      </div>
      <div class="facilities-col">
        <img src="image/cafeteria1.png" alt="cafeteria1" />
        <h3>Tasty and Healthy food</h3>
        <p>Discover the Delicious Offerings at Our Campus Cafeteria!</p>
      </div>
    </div>
  </section>
