<!-----campus----->
<section class="campus">
    <h1>Our Global Campus</h1>
    <p>Kenya's top universities .</p>
    <div class="row">
      <div class="campus-col">
        <img src="image/uon5.png" alt="" />
        <div class="layer">
          <h3>UON</h3>
        </div>
      </div>
      <div class="campus-col">
        <img src="image/KU.png" alt="KU" />
        <div class="layer">
          <h3>KU</h3>
        </div>
      </div>
      <div class="campus-col">
        <img src="image/egerton.png" alt="egerton" />
        <div class="layer">
          <h3>EGERTON</h3>
        </div>
      </div>
    </div>
  </section>
