.campus {
  width: 80%;
  margin: auto;
  text-align: center;
  padding-top: 50px;
}

.campus-col {
  flex-basis: 32%;
  border-radius: 1%;
  margin-bottom: 30px;
  position: relative;
  overflow: hidden;
  align-items: center;
}
img {
   height: 500px;


  }
  
.layer {
  background: transparent;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  transition: 0.5s;
}
.layer:hover {
  background: rgba(226, 0, 0, 0.7);
}
.layer h3 {
  width: 100%;
  font-weight: 500;
  color: #fff;
  font-size: 26px;
  bottom: 0;
  left: 50%;
  position: absolute;
  transition: 0.6s;
  transform: translateX(-50%);
}
.layer:hover h3 {
  bottom: 49%;
  opacity: 1;
    color:white;
}
p{
    color: blue;
    font-size: 20px;
}
h3{
    opacity: 0;
    color: transparent;
    transition: opacity 0.5s ease-in-out, color 0.5s ease-in-out;
}


